<ion-view title="{{ title }}">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear" ng-click="myGoBack()">
        <i class="ion-arrow-left-c"></i> Inicio
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Cliente" icon="ion-calendar" hidden="{{ !tabs.starterTab}}" on-select="refreshTitle()">
            <ion-scroll>
                <form name="starterForm" class="assembly-form" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <span class="input-label">Fecha</span>
                            <input type="date" required ng-readonly="readOnlyMode" ng-model="assembly.date" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Cliente</span>
                            <input type="text" ng-class="{'selector-dialog': !(readOnlyLinks || assembly.id)}" required readonly ng-model="assembly.customerName" ng-model-options="{updateOn: 'blur'}" ng-focus="searchCustomer()">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Sucursal</span>
                            <input type="text" ng-class="{'selector-dialog': !(readOnlyMode || !(assembly.customerId))}" readonly ng-model="assembly.branchCustomerName" ng-model-options="{updateOn: 'blur'}" ng-focus="searchBranchCustomer()">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Realizado por</span>
                            <input type="text" required readonly ng-model="assembly.executedByUsername">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Estado</span>
                            <input type="text" required readonly ng-model="assembly.statusDescription">
                        </label>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Batería" icon="ion-battery-charging" hidden="{{ !tabs.batteryTab}}" on-select="refreshTitle()">
            <ion-scroll>
                <form name="batteryForm" class="assembly-form" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <span class="input-label">Marca</span>
                            <input type="text" ng-class="{'selector-dialog': !readOnlyLinks}" required readonly ng-model="battery.trademarkName" ng-model-options="{updateOn: 'blur'}" ng-focus="searchObjectTypeTrademark(true)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Modelo</span>
                            <input type="text" ng-class="{'selector-dialog': !readOnlyLinks}" required readonly ng-model="battery.modelName" ng-model-options="{updateOn: 'blur'}" ng-focus="searchObjectTypeModel(true)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Serial</span>
                            <input type="text" ng-class="{'selector-dialog': !readOnlyLinks}" required readonly ng-model="battery.serial" ng-model-options="{updateOn: 'blur'}" ng-focus="searchObjectType(true)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Nro Interno</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="battery.customerReference" ng-model-options="{updateOn: 'blur'}" maxlength="20">
                        </label>
                        <label class="item item-input item-select">
                            <span class="input-label">Voltaje</span>
                            <select required ng-disabled="(readOnlyMode || assembly.batteryId)" ng-options="bt.id as bt.description for bt in resources.batteryTypes" ng-model="battery.typeId">
                                <option value=""> </option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Amperaje</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="battery.amperage" ng-model-options="{updateOn: 'blur'}" ng-change="getAssemblyInfo()" maxlength="20">
                        </label>
                        <label class="item item-input item-select">
                            <span class="input-label">Conector</span>
                            <select required ng-disabled="readOnlyMode" ng-options="ct.id as ct.name for ct in resources.connectorTypes" ng-model="battery.connectorTypeId" ng-change="refreshConnectorColorList()">
                                <option value=""> </option>
                            </select>
                        </label>
                        <label class="item item-input item-select">
                            <span class="input-label" style="color:transparent;">SIN TITULO</span>
                            <select required ng-disabled="readOnlyMode" ng-options="c.id as c.name for c in resources.connectors | filter: { typeId: battery.connectorTypeId }" ng-model="battery.connectorId">
                                <option value=""> </option>
                            </select>
                        </label>
                        <label class="item item-input item-select" ng-show="battery.connectorColorRequired">
                            <span class="input-label" style="color:transparent;">SIN TITULO</span>
                            <select ng-required="battery.connectorColorRequired" ng-disabled="readOnlyMode" ng-options="cc.id as cc.name for cc in resources.connectorColors" ng-model="battery.connectorColorId">
                                <option value=""> </option>
                            </select>
                        </label>
                        <ion-toggle toggle-class="toggle-positive" ng-model="battery.standardBox" ng-change="battery.standardBox = readOnlyMode ? !battery.standardBox : battery.standardBox">Caja estandar</ion-toggle>
                        <ion-toggle toggle-class="toggle-positive" ng-model="battery.cover" ng-change="battery.cover = readOnlyMode ? !battery.cover : battery.cover">Tapa</ion-toggle>
                        <ion-toggle toggle-class="toggle-positive" ng-model="battery.drainHoles" ng-change="battery.drainHoles = readOnlyMode ? !battery.drainHoles : battery.drainHoles">Agujeros de drenaje</ion-toggle>
                        <label class="item item-input">
                            <span class="input-label">Peso mínimo (kg)</span>
                            <input type="number" min="0.0" max="9999.99" ng-readonly="readOnlyMode" ng-model="battery.minimunWeight" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Peso máximo (kg)</span>
                            <input type="number" min="0.0" max="9999.99" ng-readonly="readOnlyMode" ng-model="battery.maximunWeight" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <div class="item item-divider">
                            Medidas
                        </div>
                        <label class="item item-input">
                            <span class="input-label">Longitud (mm)</span>
                            <input type="number" min="0.0" max="9999.99" ng-readonly="readOnlyMode" ng-model="battery.length" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Ancho (mm)</span>
                            <input type="number" min="0.0" max="9999.99" ng-readonly="readOnlyMode" ng-model="battery.width" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Altura de los ojales (mm)</span>
                            <input type="number" min="0.0" max="9999.99" ng-readonly="readOnlyMode" ng-model="battery.handleHeight" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Altura de la jarra (mm)</span>
                            <input type="number" min="0.0" max="9999.99" ng-readonly="readOnlyMode" ng-model="battery.boxHeight" ng-model-options="{updateOn: 'blur'}">
                        </label>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Cargador" icon="ion-flash" hidden="{{ !tabs.chargerTab}}" on-select="refreshTitle()">
            <ion-scroll>
                <form name="chargerForm" class="assembly-form" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <span class="input-label">Marca</span>
                            <input type="text" ng-class="{'selector-dialog': !readOnlyLinks}" required readonly ng-model="charger.trademarkName" ng-model-options="{updateOn: 'blur'}" ng-focus="searchObjectTypeTrademark(false)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Modelo</span>
                            <input type="text" ng-class="{'selector-dialog': !readOnlyLinks}" required readonly ng-model="charger.modelName" ng-model-options="{updateOn: 'blur'}" ng-focus="searchObjectTypeModel(false)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Serial</span>
                            <input type="text" ng-class="{'selector-dialog': !readOnlyLinks}" required readonly ng-model="charger.serial" ng-model-options="{updateOn: 'blur'}" ng-focus="searchObjectType(false)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Nro Interno</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="charger.customerReference" ng-model-options="{updateOn: 'blur'}" maxlength="20">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Voltaje</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="charger.voltage" ng-model-options="{updateOn: 'blur'}" maxlength="20">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Amperaje</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="charger.amperage" ng-model-options="{updateOn: 'blur'}" ng-change="getAssemblyInfo()" maxlength="20">
                        </label>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Insumos" icon="ion-medkit" hidden="{{ !tabs.suppliesTab}}" on-select="refreshTitle()">
            <ion-scroll>
                <form name="suppliesForm" class="assembly-form" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <div class="item no-padding" ng-class="{'item-icon-right': !readOnlyMode}" ng-repeat="ao in articlesOutputs">
                            <div class="row">
                                <div class="col">
                                    <label class="item item-input">
                                        <input type="text" placeholder="Artículo" ng-class="{'selector-dialog': !readOnlyMode}" ng-required="($first)" readonly ng-model="ao.articleName" ng-model-options="{updateOn: 'blur'}" ng-focus="searchArticle(ao)">
                                    </label>
                                </div>
                                <div class="col col-25">
                                    <label class="item item-input">
                                        <input type="number" placeholder="Cant." min="0.0" max="9999.99" ng-model="ao.quantity" ng-model-options="{updateOn: 'blur'}" ng-required="ao.articleId" ng-readonly="readOnlyMode" ng-change="addArticle()">
                                    </label>
                                </div>
                            </div>
                            <i class="icon ion-trash-a" ng-show="(ao.articleId) && !readOnlyMode" ng-click="removeArticle(ao);"></i>
                        </div>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Celdas" icon="ion-battery-empty" hidden="{{ !tabs.cellInspectionTab}}" on-select="refreshTitle()">
            <ion-scroll>
                <form name="cellInspectionForm" class="assembly-form" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <div class="item item-icon-right no-padding" ng-repeat="cr in reviewOfCells| orderBy: 'cellOrder'">
                            <div class="row">
                                <div class="col">
                                    <label class="item item-input">
                                        <span class="input-label"># {{ cr.cellOrder}}</span>
                                    </label>
                                </div>
                                <div class="col-40">
                                    <label class="item item-input">
                                        <span class="input-label">Volt.</span>
                                        <input type="number" min="0.0" max="9999.99" ng-model="cr.voltage" ng-model-options="{updateOn: 'blur'}" required ng-readonly="readOnlyMode">
                                    </label>
                                </div>
                                <div class="col-40">
                                    <label class="item item-input">
                                        <span class="input-label">Dens.</span>
                                        <input type="number" min="0.0" max="9999.99" ng-model="cr.density" ng-model-options="{updateOn: 'blur'}" required ng-readonly="readOnlyMode">
                                    </label>
                                </div>
                            </div>
                            <i class="icon ion-ios-chatbubble" ng-show="(cr.comments)" ng-click="setCellComment(cr)"></i>
                            <i class="icon ion-ios-chatbubble-outline" ng-show="!(cr.comments)" ng-click="setCellComment(cr)"></i>
                        </div>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Visto bueno" icon="ion-checkmark" hidden="{{ !tabs.endingTab}}" on-select="refreshTitle()">
            <ion-content scroll="false">
                <form name="endingForm" class="assembly-form" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <textarea rows="20" placeholder="Por favor digite aquí los comentarios que desee ... " ng-readonly="readOnlyMode" ng-model="assembly.comments" ng-model-options="{debounce: 250}" maxlength="5000"></textarea>
                        </label>
                        <div class="button-bar">
                            <button type="button" class="button button-balanced" ng-click="save()" ng-disabled="runningProcess" ng-hide="readOnlyMode">Guardar</button>
                        </div>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>