<ion-view title="Nuevo cliente" cache-view="false">
    <ion-content class="has-header" padding="true">
        <form name="customerForm" ng-class="{'show-errors': showErrors}" ng-submit="saveCustomer()">
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input item-select">
                        <span class="input-label">Doc.</span>
                        <select required ng-model="customer.identityTypeId" ng-options="it.id as it.shortName for it in resources.identityTypes">
                            <option value=""> </option>
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Identidad</span>
                        <input type="text" required ng-model="customer.identity" ng-model-options="{ updateOn: 'blur' }">
                    </label>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Nombre</span>
                        <input type="text" required ng-model="customer.name" ng-model-options="{ updateOn: 'blur' }">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Alias</span>
                        <input type="text" ng-model="customer.shortName" ng-model-options="{ updateOn: 'blur' }">
                    </label>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">País</span>
                        <input type="text" required readonly ng-model="customer.countryName" ng-focus="searchCountry()">
                    </label>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Departamento</span>
                        <input type="text" required readonly ng-model="customer.stateName" ng-focus="searchState()">
                    </label>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Ciudad</span>
                        <input type="text" required readonly ng-model="customer.cityName" ng-focus="searchCity()">
                    </label>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Dirección</span>
                        <input type="text" required ng-model="customer.address" ng-model-options="{ updateOn: 'blur' }">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Código postal</span>
                        <input type="text" ng-model="customer.postalCode" ng-model-options="{ updateOn: 'blur' }">
                    </label>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Teléfono</span>
                        <input type="text" required ng-model="customer.phoneNumber" ng-model-options="{ updateOn: 'blur' }">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Web site</span>
                        <input type="url" ng-model="customer.webSite" ng-model-options="{ updateOn: 'blur' }">
                    </label>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Nombre del contacto</span>
                        <input type="text" ng-model="customer.contactName" ng-model-options="{ updateOn: 'blur' }">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Correo electrónico del contacto</span>
                        <input type="email" ng-model="customer.contactEmailAddress" ng-model-options="{ updateOn: 'blur' }">
                    </label>
                </div>
            </div>
            <div class="spacer"></div>
            <button type="submit" class="button button-positive button-block" ng-disabled="runningProcess">Guardar</button>
        </form>
        <div style="height: 50px;" class="spacer"></div>
    </ion-content>
</ion-view>
