<ion-view title="Nuevo mantenimiento" cache-view="false">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Search" icon="ion-search" hidden="{{ tabs.hideSearcherTab}}">
            <ion-content padding="true" class="has-header">
                <form>
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Select one customer, battery or charger" ng-model="searcher.search" ng-change="searcherOnChange()">
                    </label>
                </form>
                <ion-list ng-hide="searcher.hideList">
                    <ion-item class="item-divider">Customers</ion-item>
                    <ion-item class="item-button-right" ng-repeat="r in searcher.customers| filter: { Name: searcher.search }">
                        {{ r.Name}}
                        <button class="button button-positive" ng-click="onSelectCustomer(r.Id)">
                            <i class="icon ion-checkmark"></i>
                        </button>
                    </ion-item>
                    <ion-item class="item-divider">Batteries</ion-item>
                    <ion-item class="item-button-right" ng-repeat="r in searcher.batteries| filter: { Description: searcher.search }">
                        {{ r.Description}}
                        <button class="button button-positive" ng-click="onSelectBattery(r.CustomerId, r.Id)">
                            <i class="icon ion-checkmark"></i>
                        </button>
                    </ion-item>
                    <ion-item class="item-divider">Chargers</ion-item>
                    <ion-item class="item-button-right" ng-repeat="r in searcher.chargers| filter: { Description: searcher.search }">
                        {{ r.Description}}
                        <button class="button button-positive" ng-click="onSelectCharger(r.CustomerId, r.Id)">
                            <i class="icon ion-checkmark"></i>
                        </button>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>
        <ion-tab title="Batería" icon="ion-battery-charging" hidden="{{ tabs.hideBatteryTab}}">
            <ion-content padding="true" class="has-header">
                <form>
                    <ion-list>
                        <label class="item item-select">
                            <span class="input-label">Marca</span>
                            <select ng-options="t.Id as t.Name for t in batteryResources.trademarks" ng-model="battery.trademarkId">
                            </select>
                        </label>
                        <label class="item item-select">
                            <span class="input-label">Modelo</span>
                            <select ng-options="m.Id as m.Name for m in batteryResources.models" ng-model="battery.modelId">
                            </select>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Serial</span>
                            <input placeholder="" type="text" ng-model="battery.serial">
                        </label>
                        <label class="item item-input">
                            <span class="input-label"># Interno</span>
                            <input placeholder="" type="text" ng-model="battery.customerReference">
                        </label>
                    </ion-list>
                </form>
            </ion-content>
        </ion-tab>
        <ion-tab title="Cargador" icon="ion-flash" hidden="{{ tabs.hideChargerTab}}">
            <ion-content padding="true" class="has-header">
                <form>
                    <ion-list>
                        <label class="item item-select">
                            <span class="input-label">Marca</span>
                            <select ng-options="t.Id as t.Name for t in chargerResources.trademarks" ng-model="charger.trademarkId">
                            </select>
                        </label>
                        <label class="item item-select">
                            <span class="input-label">Modelo</span>
                            <select ng-options="m.Id as m.Name for m in chargerResources.models" ng-model="charger.modelId">
                            </select>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Serial</span>
                            <input placeholder="" type="text" ng-model="charger.serial">
                        </label>
                        <label class="item item-input">
                            <span class="input-label"># Interno</span>
                            <input placeholder="" type="text" ng-model="charger.customerReference">
                        </label>
                    </ion-list>
                </form>
            </ion-content>
        </ion-tab>
        <ion-tab title="Máquina" icon="ion-gear-a" hidden="{{ tabs.hideMachineTab}}">
            <ion-content padding="true" class="has-header">
                <form>
                    <ion-list>
                        <label class="item item-select">
                            <span class="input-label">Marca</span>
                            <select ng-options="t.Id as t.Name for t in machineResources.trademarks" ng-model="machine.trademarkId">
                            </select>
                        </label>
                        <label class="item item-select">
                            <span class="input-label">Modelo</span>
                            <select ng-options="m.Id as m.Name for m in machineResources.models" ng-model="machine.modelId">
                            </select>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Serial</span>
                            <input placeholder="" type="text" ng-model="machine.serial">
                        </label>
                        <label class="item item-input">
                            <span class="input-label"># Interno</span>
                            <input placeholder="" type="text" ng-model="machine.customerReference">
                        </label>
                    </ion-list>
                </form>
            </ion-content>
        </ion-tab>
        <ion-tab title="Trabajo a realizar" icon="ion-hammer" hidden="{{ tabs.hideWorkToBeDoneTab}}">
            <ion-content padding="true" class="has-header">
                <form>
                    <textarea rows="30" ng-model="maintenance.workToBeDone"></textarea>
                </form>
            </ion-content>
        </ion-tab>
        <ion-tab title="Inspección física" icon="ion-clipboard" hidden="{{ tabs.hidePhysicalInspectionTab}}">
            <ion-content padding="true" class="has-header">
                <form>
                    <ion-list>
                    </ion-list>
                </form>
            </ion-content>
        </ion-tab>
        <ion-tab title="Inspección de celdas" icon="ion-battery-empty" hidden="{{ tabs.hideCellInspectionTab}}">
            <ion-content padding="true" class="has-header">
                <form>
                    <ion-list>
                    </ion-list>
                </form>
            </ion-content>
        </ion-tab>
        <ion-tab title="Insumos" icon="ion-medkit" hidden="{{ tabs.hideSuppliesTab}}">
            <ion-content padding="true" class="has-header">
                <form>
                    <ion-list>
                    </ion-list>
                </form>
            </ion-content>
        </ion-tab>
        <ion-tab title="Reporte técnico" icon="ion-compose" hidden="{{ tabs.hideTechnicalReportTab}}">
            <ion-content padding="true" class="has-header">
                <form>
                    <textarea rows="30" ng-model="maintenance.technicalReport"></textarea>
                </form>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>

