<ion-view title="Iniciar sesión" cache-view="false">
    <ion-content class="has-header" padding="true">
        <form name="loginForm" ng-class="{'show-errors': showErrors}">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Correo electrónico</span>
                    <input type="email" ng-model="login.emailAddress" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Contraseña</span>
                    <input type="password" ng-model="login.password" required>
                </label>
            </ion-list>
            <div style="height: 0;" class="spacer"></div>
            <button type="submit" class="button button-positive button-block" ng-click="sigIn(loginForm.$valid)" ng-disabled="runningProcess">Iniciar sesión</button>
        </form>
    </ion-content>
</ion-view>
