<ion-view title="{{ title }}" cache-view="false">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Inicio" icon="ion-search" hidden="{{ !tabs.starterTab }}">
            <ion-content padding="true" class="has-header">
                <form name="starterForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Código único</span>
                            <input type="text" required readonly ng-model="maintenance.uniqueCode">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Fecha</span>
                            <input type="date" required ng-readonly="readOnlyMode" ng-model="maintenance.date">
                        </label>
                    </div>
                    <div class="item item-input-inset" ng-click="searchCustomer()">
                        <label class="item-input-wrapper">
                            <span class="input-label">Cliente</span>
                            <input placeholder="" type="text" required readonly ng-model="maintenance.customerName">
                        </label>
                        <button type="button" tabindex="-1" class="button button-small button-pacm" ng-hide="(readOnlyMode || preloadData || maintenance.id)">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Realizado por</span>
                            <input type="text" required readonly ng-model="maintenance.executedByUsername">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Estado</span>
                            <input type="text" required readonly ng-model="maintenance.statusDescription">
                        </label>
                    </div>
                    <ion-toggle toggle-class="toggle-positive" ng-model="maintenance.preventive" ng-change="maintenance.preventive = true">Preventivo</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="maintenance.corrective" ng-change="maintenance.corrective = readOnlyMode ? !maintenance.corrective : maintenance.corrective; getMaintenanceInfo();">Correctivo</ion-toggle>
                    <div class="button-bar" ng-hide="(readOnlyMode || preloadData || maintenance.id || !(maintenance.customerId))">
                        <button type="button" class="button button-block  icon ion-battery-charging" ng-click="newBatteryMaintenance()"> Mantenimiento de batería</button>
                        <button type="button" class="button button-block  icon ion-flash" ng-click="newChargerMaintenance()"> Mantenimiento de cargador</button>
                    </div>
                </form>
                <div style="height: 300px;" class="spacer"></div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Batería" icon="ion-battery-charging" hidden="{{ !tabs.batteryTab }}">
            <ion-content padding="true" class="has-header">
                <form name="batteryForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Marca</span>
                            <input placeholder="Digite aquí el nombre de la marca, si esta aún no existe" type="text"  required ng-readonly="readOnlyMode" ng-model="battery.trademarkName">
                        </label>
                        <button type="button" tabindex="-1" class="button button-small button-pacm" ng-click="searchObjectTypeTrademark(true)" ng-hide="readOnlyMode">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Modelo</span>
                            <input placeholder="Digite aquí el nombre del modelo, si este aún no existe" type="text" required ng-readonly="readOnlyMode" ng-model="battery.modelName">
                        </label>
                        <button type="button" tabindex="-1" class="button button-small button-pacm" ng-click="searchObjectTypeModel(true)" ng-hide="readOnlyMode">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Serial</span>
                            <input type="text" placeholder="Digite aquí el serial, si la batería aún no existe" ng-model="battery.serial" ng-readonly="(readOnlyMode || (maintenance.batteryId && battery.serial))">
                        </label>
                        <button type="button" tabindex="-1" class="button button-small button-pacm" ng-click="searchObjectType(true)" ng-hide="readOnlyMode">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Nro Interno</span>
                            <input placeholder="Nro de referencia del cliente" type="text" ng-model="battery.customerReference" ng-readonly="(readOnlyMode || (maintenance.batteryId && battery.customerReference))">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Voltaje</span>
                            <select ng-model="battery.typeId" ng-options="bt.id as bt.description for bt in resources.batteryTypes" ng-change="getMaintenanceInfo()" required ng-disabled="(readOnlyMode || maintenance.batteryId)">
                                <option value=""> </option>
                            </select>
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Amperaje</span>
                            <input placeholder="Amperaje" type="text" ng-model="battery.amperage" required ng-readonly="readOnlyMode">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Conector</span>
                            <select ng-model="battery.connectorTypeId" ng-options="ct.id as ct.name for ct in resources.connectorTypes" ng-change="refreshConnectorColorList()" required ng-disabled="readOnlyMode">
                                <option value=""> </option>
                            </select>
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label"> </span>
                            <select ng-model="battery.connectorId" ng-options="c.id as c.name for c in resources.connectors | filter: { typeId: battery.connectorTypeId }" required ng-disabled="readOnlyMode">
                                <option value=""> </option>
                            </select>
                        </label>
                    </div>
                    <div class="item item-input-inset" ng-show="battery.connectorColorRequired">
                        <label class="item-input-wrapper">
                            <span class="input-label"> </span>
                            <select ng-model="battery.connectorColorId" ng-options="cc.id as cc.name for cc in resources.connectorColors" ng-required="battery.connectorColorRequired" ng-disabled="readOnlyMode">
                                <option value=""> </option>
                            </select>
                        </label>
                    </div>
                    <ion-toggle toggle-class="toggle-positive" ng-model="battery.standardBox" ng-change="battery.standardBox = readOnlyMode ? !battery.standardBox : battery.standardBox">Caja estandar</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="battery.cover" ng-change="battery.cover = readOnlyMode ? !battery.cover : battery.cover">Tapa</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="battery.drainHoles" ng-change="battery.drainHoles = readOnlyMode ? !battery.drainHoles : battery.drainHoles">Agujeros de drenaje</ion-toggle>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Peso mínimo (kg)</span>
                            <input placeholder="Peso mínimo" type="number" min="0" ng-model="battery.minimunWeight" ng-readonly="readOnlyMode">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Peso máximo (kg)</span>
                            <input placeholder="Peso máximo" type="number" min="0" ng-model="battery.maximunWeight" ng-readonly="readOnlyMode">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Longitud (mm)</span>
                            <input placeholder="Longitud" type="number" min="0" ng-model="battery.length" ng-readonly="readOnlyMode">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Ancho (mm)</span>
                            <input placeholder="Ancho" type="number" min="0" ng-model="battery.width" ng-readonly="readOnlyMode">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Altura de los ojales (mm)</span>
                            <input placeholder="Altura ojales" type="number" min="0" ng-model="battery.handleHeight" ng-readonly="readOnlyMode">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Altura de la jarra (mm)</span>
                            <input placeholder="Altura jarra" type="number" min="0" ng-model="battery.boxHeight" ng-readonly="readOnlyMode">
                        </label>
                    </div>
                </form>
                <div style="height: 300px;" class="spacer"></div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Cargador" icon="ion-flash" hidden="{{ !tabs.chargerTab }}">
            <ion-content padding="true" class="has-header">
                <form name="chargerForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Marca</span>
                            <input placeholder="Digite aquí el nombre de la marca, si esta aún no existe" type="text" required ng-readonly="readOnlyMode" ng-model="charger.trademarkName">
                        </label>
                        <button type="button" tabindex="-1" class="button button-small button-pacm" ng-click="searchObjectTypeTrademark(false)" ng-hide="readOnlyMode">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Modelo</span>
                            <input placeholder="Digite aquí el nombre del modelo, si este aún no existe" type="text" required ng-readonly="readOnlyMode" ng-model="charger.modelName">
                        </label>
                        <button type="button" tabindex="-1" class="button button-small button-pacm" ng-click="searchObjectTypeModel(false)" ng-hide="readOnlyMode">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Serial</span>
                            <input type="text" placeholder="Digite aquí el serial, si el cargador aún no existe" ng-model="charger.serial" ng-readonly="(readOnlyMode || (maintenance.chargerId && charger.serial))">
                        </label>
                        <button type="button" tabindex="-1" class="button button-small button-pacm" ng-click="searchObjectType(false)" ng-hide="readOnlyMode">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Nro Interno</span>
                            <input placeholder="Nro de referencia del cliente" type="text" ng-model="charger.customerReference" ng-readonly="(readOnlyMode || (maintenance.chargerId && charger.customerReference))">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Voltaje</span>
                            <input placeholder="Voltaje" type="text" ng-model="charger.voltage" required ng-change="getMaintenanceInfo()" ng-readonly="readOnlyMode">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Amperaje</span>
                            <input placeholder="Amperaje" type="text" ng-model="charger.amperage" required ng-readonly="readOnlyMode">
                        </label>
                    </div>
                </form>
                <div style="height: 300px;" class="spacer"></div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Máquina" icon="ion-gear-a" hidden="{{ !tabs.machineTab }}">
            <ion-content padding="true" class="has-header">
                <form name="machineForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Marca</span>
                            <input placeholder="Digite aquí el nombre de la marca, si esta aún no existe" type="text" ng-model="machine.trademarkName" ng-readonly="readOnlyMode">
                        </label>
                        <button type="button" tabindex="-1" class="button button-small button-pacm" ng-click="searchMachineTrademark(false)" ng-hide="readOnlyMode">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Modelo</span>
                            <input placeholder="Digite aquí el nombre del modelo, si este aún no existe" type="text" ng-model="machine.modelName" ng-required="(machine.trademarkName)" ng-readonly="readOnlyMode">
                        </label>
                        <button type="button" tabindex="-1" class="button button-small button-pacm" ng-click="searchMachineModel(false)" ng-hide="readOnlyMode">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Serial</span>
                            <input type="text" placeholder="Digite aquí el serial, si la máquina aún no existe" ng-model="machine.serial" ng-readonly="(readOnlyMode || (maintenance.machineId && machine.serial))">
                        </label>
                        <button type="button" tabindex="-1" class="button button-small button-pacm" ng-click="searchMachine(false)" ng-hide="readOnlyMode">
                            <i class="icon ion-search"></i>
                        </button>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Nro Interno</span>
                            <input placeholder="Nro de referencia del cliente" type="text" ng-model="machine.customerReference" ng-readonly="(readOnlyMode || (maintenance.machineId && machine.customerReference))">
                        </label>
                    </div>
                    <h4>Compartimiento</h4>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Longitud (mm)</span>
                            <input placeholder="Longitud" type="number" min="0" ng-model="machine.compartmentLength"  ng-required="(machine.trademarkName)" ng-readonly="readOnlyMode">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Ancho (mm)</span>
                            <input placeholder="Ancho" type="number" min="0" ng-model="machine.compartmentWidth"  ng-required="(machine.trademarkName)" ng-readonly="readOnlyMode">
                        </label>
                    </div>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Altura (mm)</span>
                            <input placeholder="Altura" type="number" min="0" ng-model="machine.compartmentHeight"  ng-required="(machine.trademarkName)" ng-readonly="readOnlyMode">
                        </label>
                    </div>
                </form>
                <div style="height: 300px;" class="spacer"></div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Trabajo a realizar" icon="ion-hammer" hidden="{{ !tabs.workToBeDoneTab }}">
            <ion-content padding="true" class="has-header">
                <form name="workToBeDoneForm" ng-class="{'show-errors': !readOnlyMode}">
                    <textarea rows="25" placeholder="Por favor digite aquí la labor a realizar ..." ng-model="maintenance.workToBeDone" required ng-readonly="readOnlyMode"></textarea>
                </form>
                <div style="height: 300px;" class="spacer"></div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Inspección física" icon="ion-clipboard" hidden="{{ !tabs.physicalInspectionTab }}">
            <ion-content padding="true" class="has-header">
                <form name="physicalInspectionForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="row" ng-repeat="cl in checkList | orderBy: 'checkOrder'">
                        <div class="col col-20">
                            {{ cl.checkName}}
                        </div>
                        <div class="col col-20">
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                    <select ng-model="cl.diagnosticId" ng-options="d.id as d.name for d in resources.diagnostics | filter: { typeId: cl.diagnosticTypeId }" required ng-disabled="readOnlyMode">
                                        <option value=""> </option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                    <input type="text" placeholder="Comentarios" ng-model="cl.comments" ng-readonly="readOnlyMode">
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="height: 300px;" class="spacer"></div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Inspección de celdas" icon="ion-battery-empty" hidden="{{ !tabs.cellInspectionTab }}">
            <ion-content padding="true" class="has-header">
                <form name="cellInspectionForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="row" ng-repeat="cr in reviewOfCells | orderBy: 'cellOrder'">
                        <div class="col col-10">
                            # {{ cr.cellOrder}}
                        </div>
                        <div class="col col-10">
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                    <input type="number" min="0" placeholder="Voltaje" ng-model="cr.voltage" required ng-readonly="readOnlyMode">
                                </label>
                            </div>
                        </div>
                        <div class="col col-10">
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                    <input type="number" min="0" placeholder="Densidad" ng-model="cr.density" required ng-readonly="readOnlyMode">
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                    <input type="text" placeholder="Comentarios" ng-model="cr.comments" ng-readonly="readOnlyMode">
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="height: 300px;" class="spacer"></div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Insumos" icon="ion-medkit" hidden="{{ !tabs.suppliesTab }}">
            <ion-content padding="true" class="has-header">
                <form name="suppliesForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="row" ng-repeat="ao in articlesOutputs">
                        <div class="col col-80">
                            <div class="item item-input-inset" ng-click="searchArticle(ao)">
                                <label class="item-input-wrapper">
                                    <input placeholder="Artículo" type="text" readonly ng-model="ao.articleName">
                                </label>
                                <button type="button" tabindex="-1" class="button button-small button-pacm" ng-hide="readOnlyMode">
                                    <i class="icon ion-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col col-10">
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                    <input type="number" min="0" placeholder="Cantidad" ng-model="ao.quantity" ng-required="ao.articleId" ng-readonly="readOnlyMode">
                                </label>
                            </div>
                        </div>
                        <div class="col col-10">
                            <button type="button" tabindex="-1" class="button button-small button-pacm" ng-hide="readOnlyMode || !(ao.articleId)" ng-click="removeArticle(ao);">
                                <i class="icon ion-trash-a"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" tabindex="-1" class="button button-block button-pacm" ng-hide="readOnlyMode" ng-click="addArticle();">
                            <i class="icon ion-plus-round"></i> Agregar
                        </button>
                    </div>
                </form>
                <div style="height: 300px;" class="spacer"></div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Reporte técnico" icon="ion-compose" hidden="{{ !tabs.technicalReportTab }}">
            <ion-content padding="true" class="has-header">
                <form name="technicalReportForm" ng-class="{'show-errors': !readOnlyMode}">
                    <textarea rows="25" placeholder="Por favor digite aquí los problemas detectados, el diagnóstico de la batería o el cargador, y las recomendaciones que el cliente se compromete a tener en cuenta ... " ng-model="maintenance.technicalReport" ng-change="tabs.refreshTabs()" required ng-readonly="readOnlyMode"></textarea>
                </form>
                <div style="height: 300px;" class="spacer"></div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Finalizar" icon="ion-checkmark" hidden="{{ !tabs.endingTab }}" on-select="prepareCanvas()">
            <ion-content padding="true" class="has-header" scroll="false">
                <form name="endingForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <span class="input-label">Aceptado por</span>
                            <input placeholder="Aceptado por" type="text" ng-model="maintenance.acceptedBy" required ng-readonly="readOnlyMode">
                        </label>
                    </div>
                    <div>
                    <canvas id="signatureCanvas" width="700" height="350"></canvas>
                    </div>
                    <p style="color: red;font-size: 16px; font-weight: bold;padding-top: 10px;" ng-hide="readOnlyMode">Antes de guardar debe estar completamente seguro de que no le falta nada por digitar...</p>
                    <div class="button-bar">
                        <button type="button" class="button button-energized" ng-click="clearCanvas()" ng-disabled="runningProcess || readOnlyMode">Repetir firma</button>
                        <button type="button" class="button button-balanced" ng-click="saveMaintenance()" ng-disabled="(runningProcess || readOnlyMode)">Guarda</button>
                    </div>
                </form>
                <div style="height: 300px;" class="spacer"></div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>