<ion-view title="{{ title}}" cache-view="false">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Inicio" icon="ion-search" hidden="{{ !tabs.starterTab}}">
            <ion-scroll>
                <form name="starterForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <span class="input-label">Código único</span>
                            <input type="text" required readonly ng-model="maintenance.uniqueCode">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Fecha</span>
                            <input type="date" required ng-readonly="readOnlyMode" ng-model="maintenance.date" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input" ng-click="searchCustomer($event)">
                            <span class="input-label">Cliente</span>
                            <input type="text" required ng-readonly="(readOnlyLinks || maintenance.id)" ng-model="maintenance.customerName">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Sucursal</span>
                            <input type="text" ng-readonly="(readOnlyMode || !(maintenance.customerId))" ng-model="maintenance.branchCustomerName" ng-focus="searchBranchCustomer($event)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Realizado por</span>
                            <input type="text" required readonly ng-model="maintenance.executedByUsername">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Estado</span>
                            <input type="text" required readonly ng-model="maintenance.statusDescription">
                        </label>
                        <ion-toggle toggle-class="toggle-positive" ng-model="maintenance.preventive" ng-change="maintenance.preventive = true">Preventivo</ion-toggle>
                        <ion-toggle toggle-class="toggle-positive" ng-model="maintenance.corrective" ng-change="maintenance.corrective = readOnlyMode ? !maintenance.corrective : maintenance.corrective; getMaintenanceInfo();">Correctivo</ion-toggle>
                        <div class="button-bar" ng-hide="(readOnlyLinks || maintenance.id || !(maintenance.customerId))">
                            <button type="button" class="button button-block  icon ion-battery-charging" ng-click="newBatteryMaintenance()"> Batería</button>
                            <button type="button" class="button button-block  icon ion-flash" ng-click="newChargerMaintenance()"> Cargador</button>
                        </div>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Batería" icon="ion-battery-charging" hidden="{{ !tabs.batteryTab}}">
            <ion-scroll>
                <form name="batteryForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <span class="input-label">Marca</span>
                            <input type="text" required ng-readonly="readOnlyLinks" ng-model="battery.trademarkName" ng-focus="searchObjectTypeTrademark($event, true)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Modelo</span>
                            <input type="text" required ng-readonly="readOnlyLinks" ng-model="battery.modelName" ng-focus="searchObjectTypeModel($event, true)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Serial</span>
                            <input type="text" required ng-readonly="readOnlyLinks" ng-model="battery.serial" ng-focus="searchObjectType($event, true)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Nro Interno</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="battery.customerReference" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input item-select">
                            <span class="input-label">Voltaje</span>
                            <select required ng-disabled="(readOnlyMode || maintenance.batteryId)" ng-options="bt.id as bt.description for bt in resources.batteryTypes" ng-model="battery.typeId" ng-change="getMaintenanceInfo()">
                                <option value=""> </option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Amperaje</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="battery.amperage" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input item-select">
                            <span class="input-label">Conector</span>
                            <select required ng-disabled="readOnlyMode" ng-options="ct.id as ct.name for ct in resources.connectorTypes" ng-model="battery.connectorTypeId" ng-change="refreshConnectorColorList()">
                                <option value=""> </option>
                            </select>
                        </label>
                        <label class="item item-input item-select">
                            <span class="input-label" style="color:transparent;">SIN TITULO</span>
                            <select required ng-disabled="readOnlyMode" ng-options="c.id as c.name for c in resources.connectors| filter: { typeId: battery.connectorTypeId }" ng-model="battery.connectorId">
                                <option value=""> </option>
                            </select>
                        </label>
                        <label class="item item-input item-select" ng-show="battery.connectorColorRequired">
                            <span class="input-label" style="color:transparent;">SIN TITULO</span>
                            <select ng-required="battery.connectorColorRequired" ng-disabled="readOnlyMode" ng-options="cc.id as cc.name for cc in resources.connectorColors" ng-model="battery.connectorColorId">
                                <option value=""> </option>
                            </select>
                        </label>
                        <ion-toggle toggle-class="toggle-positive" ng-model="battery.standardBox" ng-change="battery.standardBox = readOnlyMode ? !battery.standardBox : battery.standardBox">Caja estandar</ion-toggle>
                        <ion-toggle toggle-class="toggle-positive" ng-model="battery.cover" ng-change="battery.cover = readOnlyMode ? !battery.cover : battery.cover">Tapa</ion-toggle>
                        <ion-toggle toggle-class="toggle-positive" ng-model="battery.drainHoles" ng-change="battery.drainHoles = readOnlyMode ? !battery.drainHoles : battery.drainHoles">Agujeros de drenaje</ion-toggle>
                        <label class="item item-input">
                            <span class="input-label">Peso mínimo (kg)</span>
                            <input type="number" min="0" ng-readonly="readOnlyMode" ng-model="battery.minimunWeight" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Peso máximo (kg)</span>
                            <input type="number" min="0" ng-readonly="readOnlyMode" ng-model="battery.maximunWeight" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <div class="item item-divider">
                            Medidas
                        </div>
                        <label class="item item-input">
                            <span class="input-label">Longitud (mm)</span>
                            <input type="number" min="0" ng-readonly="readOnlyMode" ng-model="battery.length" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Ancho (mm)</span>
                            <input type="number" min="0" ng-readonly="readOnlyMode" ng-model="battery.width" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Altura de los ojales (mm)</span>
                            <input type="number" min="0" ng-readonly="readOnlyMode" ng-model="battery.handleHeight" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Altura de la jarra (mm)</span>
                            <input type="number" min="0" ng-readonly="readOnlyMode" ng-model="battery.boxHeight" ng-model-options="{updateOn: 'blur'}">
                        </label>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Cargador" icon="ion-flash" hidden="{{ !tabs.chargerTab}}">
            <ion-scroll>
                <form name="chargerForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <span class="input-label">Marca</span>
                            <input type="text" required ng-readonly="readOnlyLinks" ng-model="charger.trademarkName" ng-focus="searchObjectTypeTrademark($event, false)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Modelo</span>
                            <input type="text" required ng-readonly="readOnlyLinks" ng-model="charger.modelName" ng-focus="searchObjectTypeModel($event, false)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Serial</span>
                            <input type="text" required ng-readonly="readOnlyLinks" ng-model="charger.serial" ng-focus="searchObjectType($event, false)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Nro Interno</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="charger.customerReference" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Voltaje</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="charger.voltage" ng-model-options="{updateOn: 'blur'}" ng-change="getMaintenanceInfo()">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Amperaje</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="charger.amperage" ng-model-options="{updateOn: 'blur'}">
                        </label>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Máquina" icon="ion-gear-a" hidden="{{ !tabs.machineTab}}">
            <ion-scroll>
                <form name="machineForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <span class="input-label">Marca</span>
                            <input type="text" ng-readonly="readOnlyMode" ng-model="machine.trademarkName" ng-focus="searchMachineTrademark($event)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Modelo</span>
                            <input type="text" ng-required="(machine.trademarkName)" ng-readonly="readOnlyMode" ng-model="machine.modelName" ng-focus="searchMachineModel($event)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Serial</span>
                            <input type="text" ng-required="(machine.trademarkName)" ng-readonly="readOnlyLinks" ng-model="machine.serial" ng-focus="searchMachine($event)">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Nro Interno</span>
                            <input type="text" ng-required="(machine.trademarkName)" ng-readonly="readOnlyMode" ng-model="machine.customerReference" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <div class="item item-divider">
                            Compartimiento
                        </div>
                        <label class="item item-input">
                            <span class="input-label">Longitud (mm)</span>
                            <input type="number" min="0" ng-required="(machine.trademarkName)" ng-readonly="(readOnlyMode || machine.modelId)" ng-model="machine.compartmentLength" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Ancho (mm)</span>
                            <input type="number" min="0" ng-required="(machine.trademarkName)" ng-readonly="(readOnlyMode || machine.modelId)" ng-model="machine.compartmentWidth" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Altura (mm)</span>
                            <input type="number" min="0" ng-required="(machine.trademarkName)" ng-readonly="(readOnlyMode || machine.modelId)" ng-model="machine.compartmentHeight" ng-model-options="{updateOn: 'blur'}">
                        </label>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Trabajo a realizar" icon="ion-hammer" hidden="{{ !tabs.workToBeDoneTab}}">
            <ion-scroll>
                <form name="workToBeDoneForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <textarea rows="20" placeholder="Por favor digite aquí la labor a realizar ..." required ng-readonly="readOnlyMode" ng-model="maintenance.workToBeDone" ng-model-options="{debounce: 250}"></textarea>
                        </label>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Inspección física" icon="ion-clipboard" hidden="{{ !tabs.physicalInspectionTab}}">
            <ion-scroll>
                <form name="physicalInspectionForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <div class="item item-icon-right no-padding" ng-repeat="cl in checkList| orderBy: 'checkOrder'">
                            <label class="item item-input item-select">
                                <span class="input-label">{{ cl.checkName}}</span>
                                <select required ng-disabled="readOnlyMode" ng-model="cl.diagnosticId" ng-options="d.id as d.name for d in resources.diagnostics| filter: { typeId: cl.diagnosticTypeId }">
                                    <option value=""> </option>
                                </select>
                            </label>
                            <i class="icon ion-ios-chatbubble" ng-show="(cl.comments)" ng-click="setCheckComment(cl)"></i>
                            <i class="icon ion-ios-chatbubble-outline" ng-show="!(cl.comments)" ng-click="setCheckComment(cl)"></i>
                        </div>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Inspección de celdas" icon="ion-battery-empty" hidden="{{ !tabs.cellInspectionTab}}">
            <ion-scroll>
                <form name="cellInspectionForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <div class="item item-icon-right no-padding" ng-repeat="cr in reviewOfCells| orderBy: 'cellOrder'">
                            <div class="row">
                                <div class="col">
                                    <label class="item item-input">
                                        <span class="input-label"># {{ cr.cellOrder}}</span>
                                    </label>
                                </div>
                                <div class="col-40">
                                    <label class="item item-input">
                                        <span class="input-label">Volt.</span>
                                        <input type="number" min="0" ng-model="cr.voltage" ng-model-options="{updateOn: 'blur'}" required ng-readonly="readOnlyMode">
                                    </label>
                                </div>
                                <div class="col-40">
                                    <label class="item item-input">
                                        <span class="input-label">Dens.</span>
                                        <input type="number" min="0" ng-model="cr.density" ng-model-options="{updateOn: 'blur'}" required ng-readonly="readOnlyMode">
                                    </label>
                                </div>
                            </div>
                            <i class="icon ion-ios-chatbubble" ng-show="(cr.comments)" ng-click="setCellComment(cr)"></i>
                            <i class="icon ion-ios-chatbubble-outline" ng-show="!(cr.comments)" ng-click="setCellComment(cr)"></i>
                        </div>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Insumos" icon="ion-medkit" hidden="{{ !tabs.suppliesTab}}">
            <ion-scroll>
                <form name="suppliesForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <div class="item item-icon-right no-padding" ng-repeat="ao in articlesOutputs">
                            <div class="row">
                                <div class="col">
                                    <label class="item item-input">
                                        <input type="text" placeholder="Artículo" ng-readonly="readOnlyMode" ng-model="ao.articleName" ng-focus="searchArticle($event, ao)">
                                    </label>
                                </div>
                                <div class="col col-25">
                                    <label class="item item-input">
                                        <input type="number" placeholder="Cant." min="0" ng-model="ao.quantity" ng-model-options="{updateOn: 'blur'}" ng-required="ao.articleId" ng-readonly="readOnlyMode">
                                    </label>
                                </div>
                            </div>
                            <i class="icon ion-trash-a" ng-show="(ao.articleId) && !readOnlyMode" ng-click="removeArticle(ao);"></i>
                        </div>
                        <button type="button" tabindex="-1" class="button button-block" ng-hide="readOnlyMode" ng-click="addArticle();">
                            <i class="icon ion-plus-round"></i> Agregar
                        </button>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Reporte técnico" icon="ion-compose" hidden="{{ !tabs.technicalReportTab}}">
            <ion-scroll>
                <form name="technicalReportForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <textarea rows="20" placeholder="Por favor digite aquí los problemas detectados, el diagnóstico de la batería o el cargador, y las recomendaciones que el cliente se compromete a tener en cuenta ... " required ng-readonly="readOnlyMode" ng-model="maintenance.technicalReport" ng-model-options="{debounce: 250}" ng-change="tabs.refreshTabs()"></textarea>
                        </label>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-scroll>
        </ion-tab>
        <ion-tab title="Finalizar" icon="ion-checkmark" hidden="{{ !tabs.endingTab}}">
            <ion-content scroll="false">
                <form name="endingForm" ng-class="{'show-errors': !readOnlyMode}">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <span class="input-label">Aceptado por</span>
                            <input type="text" required ng-readonly="readOnlyMode" ng-model="maintenance.acceptedBy" ng-model-options="{updateOn: 'blur'}">
                        </label>
                        <label class="item item-input item-signature">
                            <span class="input-signature">
                                <canvas id="signatureCanvas" width="400" height="200" ng-init="prepareCanvas()"></canvas>
                            </span>
                        </label>
                        <div class="button-bar">
                            <button type="button" class="button button-energized" ng-click="clearCanvas()" ng-disabled="runningProcess" ng-hide="readOnlyMode">Repetir firma</button>
                            <button type="button" class="button button-balanced" ng-click="save()" ng-disabled="runningProcess" ng-hide="readOnlyMode">Guarda</button>
                        </div>
                    </div>
                </form>
                <div class="spacer spacer-footer"></div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>