<ion-view view-title="Historial">
    <ion-content padding="true" class="has-header">
        <form name="recordsForm" ng-class="{'show-errors': showErrors}">
            <div class="row responsive-sm">
                <div class="col">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper" ng-class="{'input-required': recordsForm.customerInput.$error.required}">
                            <input type="text" name="customerInput" placeholder="Cliente" readonly="readonly" ng-focus="searchCustomer()" ng-model="filters.customerName" required="required">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper" ng-class="{'input-required': recordsForm.trademarkInput.$error.required}">
                            <input type="text" name="trademarkInput" placeholder="Marca" readonly="readonly" ng-focus="searchObjectTypeTrademark()" ng-model="filters.objectTypeTrademarkName" required="required">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper" ng-class="{'input-required': recordsForm.modelInput.$error.required}">
                            <input type="text" name="modelInput" placeholder="Modelo" readonly="readonly"  ng-focus="searchObjectTypeModel()"ng-model="filters.objectTypeModelName" required="required">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper" ng-class="{'input-required': recordsForm.objectInput.$error.required}">
                            <input type="text" name="objectInput" placeholder="Bateria / cargador" readonly="readonly" ng-focus="searchObjectType()" ng-model="filters.objectTypeDescription" required="required">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <button type="submit" class="button button-positive button-block" ng-click="searchHistory(recordsForm.$valid)" ng-disabled="runningProcess">Buscar</button>
                </div>
            </div>
        </form>
        <ion-list>
            <ion-item ng-repeat="r in history" href="#/app/details/{{ r.Id }}">
                {{ r.Date | date : 'medium' }} -> 
                {{ r.Type.indexOf('Maintenance') >= 0 ? 'Mantenimiento ' : 'Ensamble ' }}
                {{ r.Type.indexOf('Battery') >= 0 ? 'bateria ' : 'cargador ' }}
                {{ r.ObjectTypeDescription }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>