<ion-view view-title="Historial" can-swipe-back="false" hide-back-button="true">
    <ion-content class="has-header" padding="true">
        <form name="recordsForm" ng-class="{'show-errors': showErrors}">
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Cliente</span>
                        <input type="text" class="selector-dialog" required readonly ng-model="filters.customerName" ng-focus="searchCustomer()">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Marca</span>
                        <input type="text" class="selector-dialog" required readonly ng-model="filters.objectTypeTrademarkName" ng-focus="searchObjectTypeTrademark()">
                    </label>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Modelo</span>
                        <input type="text" class="selector-dialog" required readonly ng-model="filters.objectTypeModelName" ng-focus="searchObjectTypeModel()">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Bateria / cargador</span>
                        <input type="text" class="selector-dialog" readonly ng-model="filters.objectTypeDescription" ng-focus="searchObjectType(recordsForm.$valid)">
                    </label>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class="col">
                    <a class="button button-positive button-block" href="#/app/new/{{ filters.customerId}}/{{ filters.objectTypeType}}/{{ filters.objectTypeId}}" ng-disabled="runningProcess || !(filters.objectTypeId)">Nuevo mantenimiento</a>
                </div>
            </div>
        </form>
        <div class="list">
            <a class="item" ng-repeat="r in history" href="#/app/details/{{ r.Id}}">
                {{ r.Date | date : 'dd/MM/yyyy' }} -> 
                {{ r.Type.indexOf('Maintenance') >= 0 ? 'Mantenimiento ' : 'Ensamble '}}
                {{ r.Preventive === true ? 'preventivo ' : '' }}
                {{ r.Corrective === true ? 'correctivo ' : '' }}
            </a>
        </div>
    </ion-content>
</ion-view>