<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{ searcher.title}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="searcher.close()">Cerrar</button>
        </div>
    </ion-header-bar>
    <ion-content padding="true">
        <form>
            <div class="list">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" ng-model="searcher.search" ng-model-options="{debounce: 250}" ng-change="searcher.filter()" maxlength="50">
                </label>
            </div>
        </form>
        <div class="list" ng-if="searcher.group == 1">
            <div class="item item-icon-right" ng-repeat="r in searcher.dataFiltered" ng-click="searcher.select(r)">
                {{ r.Name}}
                <i class="icon ion-checkmark" ng-show="r.Selected"></i>
            </div>
            <button class="button button-assertive button-full" ng-show="searcher.showAddButton" ng-click="searcher.select(searcher.search)">
                ¡Sin resultados! ¿Desea usar este dato?
            </button>
        </div>
        <div class="list" ng-if="searcher.group == 2">
            <div class="item item-icon-right" ng-repeat="r in searcher.dataFiltered" ng-click="searcher.select(r)">
                {{ r.Description}}
                <i class="icon ion-checkmark" ng-show="r.Selected"></i>
            </div>
            <button class="button button-assertive button-full" ng-show="searcher.showAddButton" ng-click="searcher.select(searcher.search)">
                ¡Sin resultados! ¿Desea usar este dato?
            </button>
        </div>
        <div class="list" ng-if="searcher.group == 3">
            <div class="item item-icon-right" ng-repeat="r in searcher.dataFiltered" ng-click="searcher.select(r)">
                {{ r.Name}} ({{ r.InventoryCode}})
                <i class="icon ion-checkmark" ng-show="r.Selected"></i>
            </div>
        </div>
        <div class="list" ng-if="searcher.group == 4">
            <div class="item item-icon-right" ng-repeat="r in searcher.dataFiltered" ng-click="searcher.select(r)">
                {{ r.Name}}
                <i class="icon ion-checkmark" ng-show="r.Selected"></i>
            </div>
            <button class="button button-assertive button-full" ng-show="searcher.showAddButton" ng-click="searcher.select(searcher.search)">
                ¡Sin resultados! ¿Desea usar este dato?
            </button>
        </div>
    </ion-content>
</ion-modal-view>