<ion-view view-title="Herramientas">
    <ion-content padding="false" class="has-header">
        <div class="list list-inset">
            <button class="button button-positive button-block" ng-click="synchronizeData()" ng-disabled="runningProcess">Sincronizar datos</button>
            <div class="item item-divider">
                Eventos
            </div>
            <div class="item item-console" ng-repeat="ci in entriesConsoleLog">
                <p class="level-{{ ci.level }}">{{ ci.dateTime | date : 'medium' }} -> {{ ci.message }}</p>
            </div>
        </div>
    </ion-content>
</ion-view>