/* Empty. Add your own CSS if you like */

.pane.tab-content.has-header {
    top: 44px;
}

input, select, textarea {
    width: 65%;
}

.col .button.button-block, .col .button.button-full {
    margin-top: 0;
    margin-bottom: 0;
}